
/*
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
*/

@font-face {
    font-family: 'Futura-Bold';
    src: local('Futura-Bold'), url(./fonts/Futura-bold.ttf) format('ttf');
    font-family: 'Futura-Medium';
    src: local('Futura-Medium'), url(./fonts/Futura-medium.ttf) format('ttf');
  }
  

h1,
h2 {
    color: #fff;
}

h1 {
    font-family: 'Lato', 'sans-serif';
    font-weight: 700 !important;
    font-size: 60px !important;
    letter-spacing: 2.5px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 400 !important;
    font-size: 20px !important;
    line-height: 1.6 !important;
}

.nav {
    background-color:transparent;
    z-index: 100;
    width: 100%;
    position: fixed !important;
}

.navbar-brand {
    font-family: 'Futura-Medium';
    font-size: 24px !important;
    color: #fff !important;
}


.nav-link {
    text-decoration: underline;
    font-size: 14px;
}

a:hover {
    color: #6AB7BE !important;
    text-decoration: none;
}


/* HEADER */

.hero-bg {
    background: url("../img/bg-desktop.png") no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 0;
    overflow: hidden;
}

.hero-box {
    height: 100vh;
    align-items: center;
}

.hero-content {
    width: 40%;
    padding: 0 50px;

}

.hero-image {
    height: 150%;
    background: url("../img/hero-desktop.png") no-repeat;
    background-size: 60%;
    background-position: 120% 35%;
    
}





.header {
    margin-top: 57px;
    height: 70vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 150px;
}



.spacer20 {
    margin-bottom: 20px;
}

.spacer50 {
    height: 50px;
}



.accent {
    color: #927F9E;
}


.header-button {
    background: #927F9E !important;
    border-radius: 4px !important;
    padding: 10px 30px !important;
    width: 300px;
    border: none !important;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
    font-size: 14px !important;
    text-transform: none;
    color: #FFFFFF;
    letter-spacing: 1.5px;
}

.header-button:hover {
    color: #fff !important;
}




/* FOOTER */

#footer {
    padding-bottom: 90px;
}

.footer {
    height: 150px;
    background-color: #FFFFFF;
    border-top: 0.5px solid #D5D5D5;
}

.footer-icon {
    width: 35px;
}

.contact-row {
    padding: 0 150px !important;
}

.contact-details a,
.contact-details li,
.contact-details ul {
    display: inline !important;
    color: #434343;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.contact-details {
    padding: 0;
}



/* SCREENSHOT */

.parallax-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(1.55);
    z-index: -1;
}

.parallax-wrapper {
    perspective: 2.1px;
}

.static-wrapper {
    z-index: 2;
    position: relative;
}

.scrollHack {
    padding-bottom: 0 !important;
}