body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    height: 100vh;
    transform-style: preserve-3d;
    background: #C8C2CB;
    overflow: hidden;
}

html {
    overflow: hidden;
    background: #C8C2CB;

}