@media only screen and (max-width: 600px) {

    /* Text */

    h1 {
        font-size: 40px !important;
    }

    h2 {
        font-size: 16px !important;
    }

    .navbar-brand {
        font-size: 24px !important;
    }
    

    /* Spacing */

    .scrollHack {
        padding-bottom: 0 !important;
    }



    .hero-bg {
        background: url("../img/bg-mobile.png") no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
        padding: 0;

    }

    .hero-content {
        width: 100%;
        justify-content: end;
        padding: 0 30px 50px 30px;
    }


    .hero-image {
        background: url("../img/hero-mobile.png") no-repeat;
        background-size: 180%;
        background-position: -10% 30%;
        height: 100%;
    }





    /*
    *
    *
    */
    /* disable parallax on mobile */

    .parallax-wrapper::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: none;
        z-index: -1;
    }

    .parallax-wrapper {
        perspective: none;
    }



    .header-button {
        letter-spacing: 1.4px;
    }

    .m-center {
        text-align: center;
    }

    #footer {
        padding-bottom: 40px;
    }
}